@font-face {
  font-family: "comic-sans";
  src: url("assets/comic.ttf");
}

body {
	background-color: green;
	background-image: url("assets/mop-girl.gif");
	background-size: 10%;
	font-family: 'comic-sans', Fallback, serif;
	color: white;
}

main, footer, form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	padding-top: 10px;
}

h1 {
	color: black;
	background-color: yellow;
}

h1, h2, h3, h4 {
	text-decoration: underline;
}
