@font-face {
  font-family: "comic-sans";
  src: url("/assets/comic.ttf");
}

body {
    background-color: green;
    background-image: url("/assets/mop-girl.gif");
    background-size: 10%;
    font-family: 'comic-sans', Fallback, serif;
}

h1, h2 {
    background-color: yellow;
}

p, ul {
    background-color: yellow;
}

div.choregroup {
    background-color: yellow;
}

.datepicker-label {
    background-color: yellow;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.badges > * {
    margin: 5px;
}
