body {
    background-color: darkblue;
    background-image: url("../assets/aliens-animated.gif");
    background-size: 20%;
    font-family: monospace;
}

.datepicker-label {
    background-color: #39FF14;
}

h1, h2, h3, h4, p, label {
    background-color: #39FF14;
}

dl.chores div {
    background-color: #39FF14;
    min-width: 25%;
    padding: 40px;
}

dl.chores dt {
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
