body {
    background-color: darkblue;
    background-image: url("../assets/aliens-animated.gif");
    background-size: 20%;
    font-family: monospace;
    color: white;
}

h1, h2, h3, h4, p, label {
    color: black;
    background-color: #39FF14;
    padding: 10px;
}

dl.chores div {
    background-color: #39FF14;
    min-width: 25%;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
}

dl.chores dt {
    font-size: large;
    color: black;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

dl.chores dd {
    color: black;
    margin: 0;
}
