<!DOCTYPE html>
<html>
<head>
{%  block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_path("static/styles.css") }}">
    <link rel="icon" type="image/png" href="{{ url_path("assets/favicon.png") }}">
    <link rel="apple-touch-icon" href="{{ url_path("assets/dishes-square.png") }}">
{%  endblock head %}
</head>
<body>

{% block body %}
{% endblock body %}

{% block footer %}
<footer class="info-footer">
<p>
    <a href="https://github.com/choreworld/choreworld.github.io/issues">Feedback</a>
    | <a href="{{ url_path('/license') }}">License</a>
</p>
<p>choreworld v0.3 &copy; choreworld 2023</p>
</footer>
{% endblock footer %}

{% block bodyend %}
{% endblock bodyend %}

</body>
</html>
