{% extends "base.jinja" %}

{% block title %}choreworld{% endblock title %}

{% import 'macros.jinja' as macros with context %}

{% block body %}

<main>

<h1>Welcome to choreworld</h1>

<img src="{{ url_path('assets/dishes.jpg') }}" style="width: 20%;" alt="doing the dishes">

{{ macros.datepicker() }}

<h2>Chores for week ending <span id="week-end">{{ current_weekend_date }}</span></h2>

{% for group_id, assignments in group_assignments.items() %}
{% set chores %}
    {% for chore_id, person in assignments.items() %}
        {% set chorename = chore_groups[group_id].chores[chore_id].name %}
        {% if group_id == 'main' and chore_id == 'bins' %}
            {% set chorename = 'Bins (%s and %s)' % (bins[0], bins[1]) %}
        {% endif %}
        {{ macros.chore(group_id, chore_id, chorename, person) }}
    {% endfor %}
{% endset %}
<div class="choregroup">
    <h3>{{ chore_groups[group_id].name }}</h2>
    {{ macros.chorelist(group_id, chores) }}
</div>
{% endfor %}

<footer>
<img src="{{ url_path('assets/cool-millie-pyramid.gif') }}" style="width:100%;" alt="cool millie">
</footer>

{% endblock body %}

{% block footer %}
{{  super() }}
<div class="badges">
    <img src="{{ url_path('badges/css.gif') }}" alt="made with css">
    <img src="{{ url_path('badges/4everfriend.gif') }}" alt="friends 4 ever">
    <a href="https://cyber.dabamos.de/88x31/" target="_blank">
        <img src="{{ url_path('badges/2019.gif') }}" alt="buttons">
    </a>
    <img src="{{ url_path('badges/kitten88.gif') }}" alt="kitten">
    <img src="{{ url_path('badges/hsajesusveg.gif') }}" alt="jesus was a vegetarian">
    <img src="{{ url_path('badges/jobsritchie.gif') }}" alt="jobs and ritchie">
    <img src="{{ url_path('badges/javascript.gif') }}" alt="javascript now!">
    <img src="{{ url_path('badges/yanknow.gif') }}" alt="yankovic now">
    <img src="{{ url_path('badges/proud_of_my_son.gif') }}" alt="proud of my son">
    <img src="{{ url_path('badges/powered.gif') }}" alt="this site is powered by imagination">
    <a href="https://www.win-rar.com" target="_blank">
        <img src="{{ url_path('badges/rar_download.gif') }}" alt="download winrar">
    </a>
    <a href="https://www.liberianobserver.com/" target="_blank">
        <img src="{{ url_path('badges/wnliberia.gif') }}" alt="liberia news">
    </a>
</div>
{% endblock footer %}

{% block bodyend %}
{{ macros.view_week_script() }}
{% endblock bodyend %}
