{% extends "base.jinja" %}

{% block title %}choreworld{% endblock title %}

{% block body %}

<main>

<h1>Welcome to choreworld</h1>

<img src="{{ url_path('assets/dishes.jpg') }}" style="width: 20%;" alt="doing the dishes">

<h2>Chores for week ending <span id="week-end">{{ current_weekend_date }}</span></h2>

{% import 'macros.jinja' as macros %}
{% for group, assignments in choregroups.items() %}
{% set chores %}
    {% for chore, person in assignments.items() %}
        {{ macros.chore(chore.id, chore.name, person) }}
    {% endfor %}
{% endset %}
<div class="choregroup">
    <h3>{{ choregroup_names[group] }}</h2>
    {{ macros.chorelist(group, chores) }}
</div>
{% endfor %}

<footer>
<img src="{{ url_path('assets/cool-millie-pyramid.gif') }}" style="width:30%;" alt="cool millie">
<p><a href="https://github.com/choreworld/choreworld.github.io/issues">Feedback</a></p>
<p>choreworld v0.2 &copy; choreworld 2023</p>

<div class="badges">
    <img src="{{ url_path('badges/css.gif') }}" alt="made with css">
    <img src="{{ url_path('badges/4everfriend.gif') }}" alt="friends 4 ever">
    <a href="https://cyber.dabamos.de/88x31/" target="_blank">
        <img src="{{ url_path('badges/2019.gif') }}" alt="buttons">
    </a>
    <img src="{{ url_path('badges/kitten88.gif') }}" alt="kitten">
    <img src="{{ url_path('badges/hsajesusveg.gif') }}" alt="jesus was a vegetarian">
    <img src="{{ url_path('badges/jobsritchie.gif') }}" alt="jobs and ritchie">
    <img src="{{ url_path('badges/javascript.gif') }}" alt="javascript now!">
    <img src="{{ url_path('badges/yanknow.gif') }}" alt="yankovic now">
    <img src="{{ url_path('badges/proud_of_my_son.gif') }}" alt="proud of my son">
    <img src="{{ url_path('badges/powered.gif') }}" alt="this site is powered by imagination">
    <a href="https://www.win-rar.com" target="_blank">
        <img src="{{ url_path('badges/rar_download.gif') }}" alt="download winrar">
    </a>
    <a href="https://www.liberianobserver.com/" target="_blank">
        <img src="{{ url_path('badges/wnliberia.gif') }}" alt="liberia news">
    </a>
</div>
</footer>

{% endblock body %}
