<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>choreworld</title>
    <link rel="stylesheet" type="text/css" href="{{ url_path('static/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_path('assets/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_path('assets/dishes-square.png') }}">
</head>
<body>

<main>

<h1>Welcome to choreworld</h1>

<img src="{{ url_path('assets/dishes.jpg') }}" style="width: 20%;" alt="doing the dishes">

<form>
    <label for="date">Select date</label>
    <input id="date" type="date" name="date">
</form>

<h2>Chores for week ending <span id="week-end"></span></h2>

<h3>Flat chores</h3>

<h4>Bins</h4>
<p id="bins"></p>

<h4>Kitchen</h4>
<p id="kitchen"></p>

<h4>Mop</h4>
<p id="mop"></p>

<h4>Downstairs toilet and lounge</h4>
<p id="toilet-lounge"></p>

<h4>Vacuum</h4>
<p id="vacuum"></p>

<h3>Upstairs</h3>

<h4>Upstairs bathroom</h4>
<p id="upstairs-bathroom"></p>

<h3>Downstairs bedroom</h3>

<h4>Downstairs bedroom bathroom</h4>
<p id="downtairs-bedroom-bathroom"></p>

</main>


<footer>
<img src="{{ url_path('assets/cool-millie-pyramid.gif') }}" style="width:30%;" alt="cool millie">
<p><a href="https://github.com/choreworld/choreworld.github.io/issues">Feedback</a></p>
<p>choreworld v0.2 &copy; choreworld 2023</p>

<div class="badges">
    <img src="{{ url_path('badges/css.gif') }}" alt="made with css">
    <img src="{{ url_path('badges/4everfriend.gif') }}" alt="friends 4 ever">
    <a href="https://cyber.dabamos.de/88x31/" target="_blank">
        <img src="{{ url_path('badges/2019.gif') }}" alt="buttons">
    </a>
    <img src="{{ url_path('badges/kitten88.gif') }}" alt="kitten">
    <img src="{{ url_path('badges/hsajesusveg.gif') }}" alt="jesus was a vegetarian">
    <img src="{{ url_path('badges/jobsritchie.gif') }}" alt="jobs and ritchie">
    <img src="{{ url_path('badges/javascript.gif') }}" alt="javascript now!">
    <img src="{{ url_path('badges/yanknow.gif') }}" alt="yankovic now">
    <img src="{{ url_path('badges/proud_of_my_son.gif') }}" alt="proud of my son">
    <img src="{{ url_path('badges/powered.gif') }}" alt="this site is powered by imagination">
    <a href="https://www.win-rar.com" target="_blank">
        <img src="{{ url_path('badges/rar_download.gif') }}" alt="download winrar">
    </a>
    <a href="https://www.liberianobserver.com/" target="_blank">
        <img src="{{ url_path('badges/wnliberia.gif') }}" alt="liberia news">
    </a>
</div>
</footer>

<script src="{{ url_path('static/chores.js') }}"></script>
<script>
(function () {
    function update_page(offset) {
        let all_chores = [
            [
                [
                    "bins",
                    "kitchen",
                    "mop",
                    "toilet-lounge",
                    "vacuum"
                ],
                [
                    "Ashton",
                    "Dan",
                    "Harry",
                    "Sophie",
                    "Millie"
                ]
            ],
            [
                [
                    "upstairs-bathroom"
                ],
                [
                    "Dan",
                    "Harry",
                    "Sophie"
                ]
            ],
            [
                [
                    "downtairs-bedroom-bathroom"
                ],
                [
                    "Millie",
                    "Ashton"
                ]
            ]
        ];

        for (let group = 0; group < all_chores.length; group++) {
            let chores = all_chores[group][0];
            let people = all_chores[group][1];
            let assignments = assign_chores(offset, chores, people);
            for (let i = 0; i < chores.length; i++) {
                let chore = chores[i];
                document.getElementById(chore).innerText = assignments[chore];
            }

            document.getElementById("week-end").innerText = end_of_week(offset).toDateString();
        }
    }

    update_page(current_offset());

    let datepicker = document.getElementById("date");
    datepicker.value = (new Date()).toISOString().split('T')[0];
    datepicker.addEventListener("change", function (event) {
        let date = new Date(datepicker.value);
        let offset = date_to_offset(date);
        update_page(offset);
    });
})();
</script>

</body>
</html>
