{% macro chorelist(group, content, class="chores") %}
<dl id="chores-{{ group }}" class="{{ class }}">
{{ content }}
</dl>
{% endmacro %}

{% macro chore(group, id, name, flattie, class="chore") %}
<div class="{{ class }}">
    <dt>{{ name }}</dt>
    <dd id="chore-{{ group }}-{{ id }}-person">{{ flattie }}</dd>
</div>
{% endmacro %}

{% macro datepicker(id="date") %}
<form class="datepicker">
    <label for="date" class="datepicker-label">Select date</label>
    <input id="{{ id }}" name="date" type="date" class="datepicker-date">
</form>
{% endmacro %}

{% macro add_chores(chores) %}
{% for chore, name in chores.items() %}
    {{ chore(chore.id, chore.name, name) }}
{% endfor %}
{% endmacro %}

{% macro view_week_script(datepicker_id='date') %}
<script src="{{ url_path('static/chores.js') }}"></script>
<script>
function updatePage(offset) {
    const allChores = {{ chores_json | tojson }};
    for (const group in allChores) {
        const [chores, people] = allChores[group];
        const assignments = assignChores(offset, chores, people);
        for (const chore in assignments) {
            const personElem = document.getElementById(`chore-${group}-${chore}-person`);
            if (personElem !== null) {
                personElem.innerText = assignments[chore];
            }
        }
    }

    document.getElementById("week-end").innerText = endOfWeek(offset).toDateString();
}

document.getElementById("{{ datepicker_id }}")
    ?.addEventListener("change", function(event) {
        const date = new Date(event.target.value);
        updatePage(dateToOffset(date));
    });
</script>
{% endmacro %}
