{% extends "base.jinja" %}

{% block title %}choreworld, Wellington{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ url_path('static/welly.css') }}">
{% endblock extrahead %}

{% import 'macros.jinja' as macros with context %}

{% block body %}

<main>

<h1>Welcome to choreworld (Wellington edition)</h1>

{{ macros.datepicker() }}

<h2>Chores for week ending <span id="week-end">{{ current_weekend_date }}</span></h2>

{% set chores %}
    {% for chore_id, person in group_assignments['main'].items() %}
        {{ macros.chore(
            'main',
            chore_id,
            chore_groups['main'].chores[chore_id].name,
            person) }}
    {% endfor %}
    {{ macros.chore('main', 'kitchen', 'Kitchen', 'Alice') }}
{% endset %}
{{ macros.chorelist('main', chores) }}
</main>

{% endblock body %}

{% block bodyend %}
{{ macros.view_week_script() }}
{% endblock bodyend %}
