{% extends "base.jinja" %}

{% block title %}choreworld, Wellington{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ url_path('static/welly.css') }}">
{% endblock extrahead %}

{% block body %}

<main>

<h1>Welcome to choreworld (Wellington edition)</h1>

{% import 'macros.jinja' as macros with context %}

{{ macros.datepicker() }}

<h2>Chores for week ending <span id="week-end">{{ current_weekend_date }}</span></h2>

{% set group = choregroups.keys() | first %}
{% set chores %}
    {% for chore, person in choregroups[group].items() %}
        {{ macros.chore(group, chore.id, chore.name, person) }}
    {% endfor %}
    {{ macros.chore(group, 'kitchen', 'Kitchen', 'Alice') }}
{% endset %}
{{ macros.chorelist(group, chores) }}
</main>

<footer>
<p><a href="https://github.com/choreworld/choreworld.github.io/issues">Feedback</a></p>
<p>choreworld v0.2 &copy; choreworld 2023</p>
</footer>

{{ macros.view_week_script() }}

{% endblock body %}
